@{
    ViewData["Title"] = "Home Page";
}
<style>
    .consent-container{
        background: #fff;
        border-radius: 8px;
        border: 1px solid #e5e7eb;
    }

</style>
<div class="text-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="text-center mb-4">Đăng ký tài khoản</h4>

                        <form>
                            <div class="mb-3">
                                <label class="form-label">Họ và tên</label>
                                <input type="text" class="form-control" placeholder="Nhập họ tên">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder="example@email.com">
                            </div>
                            <button type="submit" class="btn btn-primary w-100">
                                Đăng ký
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#cmpModal">
        Quản lý quyền riêng tư
    </button>

    <div class="modal fade" id="cmpModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Tùy chỉnh Consent</h5>
                    <button type="button" class="close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                
                <div class="modal-body p-0" style="height:80vh;">
                    <iframe src="http://192.168.1.11:8080/CMPClient/FrameContent?productcode=FIINGROUP&language=en&email=diep@gmail.com&parentOrigin=http://192.168.1.11:8080/"
                            style="width:100%;height:100%;border:none;">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
       window.addEventListener('message', (event) => {
          if (event.data?.type === 'CMP_CONSENT_SUBMIT') {

            const userInfor = {
              userIdHash: "123456",
              email :"ha@gmail.com",
              conntent:"abc abc"
            };

            const iframe = document.querySelector('iframe');
            iframe.contentWindow.postMessage(
              {
                type: 'CMP_PASS',
                payload: userInfor
              },
              'http://192.168.1.11:8080/'
            );
          }
       
    });
</script>


